/uploads/
/plugins/classic-editor/
/plugins/jsm-force-ssl/
/plugins/regenerate-thumbnails-advanced/
/plugins/debug-this/
/plugins/my-custom-functions/
/plugins/wp-dbmanager/
/plugins/directory/.phpintel/